# Cost (Loss) Functions

## Assignment ML2
### Required:
- Complete the Cost Functions Assignment:
    1. Cost Functions Assignment Notebook
    2. You will have to make a copy of the notebook in your own drive to edit it.
- Determine the Precision, Recall, and Accuracy from yesterday's model and compare your results with the Scikit-Learn Functions.
- Create a heuristic model to predict the PRCP column in the Seattle Weather data and calculate the Mean Squared Error from your predictions. Did you do better than predicting the mean value for the PRCP column?
- Submit your completed notebook to the Learn Platform

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.metrics import mean_squared_error, mean_absolute_error, accuracy_score, recall_score, precision_score

In [2]:
# Load data and drop NaN values
df = pd.read_csv("seattle_weather_1948-2017.csv").dropna()

## Rain

In [3]:
# Note 

# x --> future state "tomorrow"
# x-1 --> today
# x-2 --> yesterday


# Create function to perform our heuristic
preds = []

def heuristic(df):
    
    
    # If either of last two days == True then check the 70 <= TMAX <= 30 predict true
    for x in range(len(df)):
        if (df.iloc[x-1]["RAIN"] == True) and (df.iloc[x-2]["RAIN"] == True):
            if (df.iloc[x]['TMAX'] <= 65) and (df.iloc[x]['TMIN'] >= 30):
                if (df.iloc[x-1]['PRCP'] >= 0.015) or (df.iloc[x-2]['PRCP'] >= 0.1):
                    preds.append(True)
                else:
                    preds.append(False) 
            else:
                preds.append(False)
        else:
            # Predict false if the above is not true
            preds.append(False)
    return preds

In [4]:
def calc_confuse(df):
    
    "Calculate all possible results of a confusion matrix"

    # Hold all possible values and set to zero
    FP = np.zeros(len(df))
    TP = np.zeros(len(df))
    FN = np.zeros(len(df))
    TN = np.zeros(len(df))
    
    for x in range(len(df)):
        
        # True Positive
        if (df["RAIN"].iloc[x] == True) & (df["preds"].iloc[x] == True):
            TP[x] = 1
        # True Negative
        elif (df["RAIN"].iloc[x] == False) & (df["preds"].iloc[x] == False):
            TN[x] = 1
        # False Negative
        elif (df["RAIN"].iloc[x] == True) & (df["preds"].iloc[x] == False):
            FN[x] = 1
        # False Positive
        else:
            FP[x] = 1
    
    return FP, TP, FN, TN

In [5]:
df["preds"] = heuristic(df) # Create a column of predictions

confuse_ls = [w,x,y,z] = calc_confuse(df) # Calculate confusion matrix stats
col_names = ["FP", "TP", "FN", "TN"] # Create column name ls

# Create new columns
for x in range(len(confuse_ls)):
    df[col_names[x]] = confuse_ls[x]

# Look at 10 random rows to determine the accuracy
df.sample(10)

             DATE  PRCP  TMAX  TMIN   RAIN  preds   FP   TP   FN   TN
15731  1991-01-26  0.00    45    27  False  False  0.0  0.0  0.0  1.0
11173  1978-08-04  0.00    79    58  False  False  0.0  0.0  0.0  1.0
6535   1965-11-22  0.06    47    35   True   True  0.0  1.0  0.0  0.0
9220   1973-03-30  0.03    50    40   True  False  0.0  0.0  1.0  0.0
4110   1959-04-03  0.04    58    34   True   True  0.0  1.0  0.0  0.0
17129  1994-11-24  0.02    48    33   True  False  0.0  0.0  1.0  0.0
10971  1978-01-14  0.14    55    44   True   True  0.0  1.0  0.0  0.0
22937  2010-10-19  0.00    64    42  False  False  0.0  0.0  0.0  1.0
10653  1977-03-02  0.68    45    41   True   True  0.0  1.0  0.0  0.0
12959  1983-06-25  0.00    68    53  False  False  0.0  0.0  0.0  1.0

In [6]:
rain = []
for x in range(len(df)):
    rain.append(df.iloc[x]['RAIN'])

In [7]:
# Precision 
precision = (sum (df['TP']) / (sum(df['TP']) + sum(df['FP'])))

# Recall
recall = (sum (df['TP']) / (sum(df['TP']) + sum(df['FN'])))

# Calculate Accuracy
accuracy = ((sum(df['TP']) + sum(df['TN'])) / len(df))

# print 
print('precision = ', precision)
print('recall = ', recall)
print('accuracy = ', accuracy)

precision =  0.7267384916748286
recall =  0.40844036697247704
accuracy =  0.6820886175043056

In [8]:
# 
pre = precision_score(rain, preds)
rec = recall_score(rain, preds)
acc = accuracy_score(rain, preds)

# print 
print('precision = ', pre)
print('recall = ', rec)
print('accuracy = ', acc)

precision =  0.7267384916748286
recall =  0.40844036697247704
accuracy =  0.6820886175043056

## PRCP

In [9]:
def mean_val(df):
    mean = []
    for x in range(len(df)):
        mean.append(0.106)
    return mean
# Apply mean_val
df["mean"] = mean_val(df)
df.head(5)

         DATE  PRCP  TMAX  TMIN  RAIN  preds   FP   TP   FN   TN   mean
0  1948-01-01  0.47    51    42  True  False  0.0  0.0  1.0  0.0  0.106
1  1948-01-02  0.59    45    36  True  False  0.0  0.0  1.0  0.0  0.106
2  1948-01-03  0.42    45    35  True   True  0.0  1.0  0.0  0.0  0.106
3  1948-01-04  0.31    45    34  True   True  0.0  1.0  0.0  0.0  0.106
4  1948-01-05  0.17    45    32  True   True  0.0  1.0  0.0  0.0  0.106

In [10]:
# Create function to perform our heuristic


def heuristic(df):
    
    preds = []
    
    for x in range(len(df)):
        if (df.iloc[x]['TMIN'] >= 50) | (df.iloc[x]['TMAX'] >= 50):
            preds.append(0)
        elif (df.iloc[x]['TMIN'] >= 40) | (df.iloc[x]['TMAX'] >= 40):
            preds.append(0.02)
        else:
            # Predict false if the above is not true
            preds.append(0.01)
                
    return preds

In [11]:
# Apply Heuristic
df["preds"] = heuristic(df)

In [14]:
# Create a Mean Squared Error Function for HA model
def mse(y_true, y_pred):
    return np.square(np.subtract(y_true,y_pred)).mean()
ha = mse(df['PRCP'], df['preds'])
mean = mse(df['PRCP'], df['mean'])

print('HA model = ', ha )
print('mean = ', mean )

HA model =  0.06722678487552526
mean =  0.057133851103821826