<a href="https://colab.research.google.com/github/gumdropsteve/intro_to_machine_learning/blob/main/day_02/01_loss_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PRCP
Create a heuristic model to predict the PRCP column in the Seattle Weather data and calculate the Mean Squared Error from your predictions. Did you do better than predicting the mean value for the PRCP column?

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.metrics import mean_squared_error, mean_absolute_error, accuracy_score, recall_score, precision_score

In [2]:
# Load data and drop NaN values
df = pd.read_csv("seattle_weather_1948-2017.csv").dropna()

df_temp = df.copy()

In [3]:
df.head()

         DATE  PRCP  TMAX  TMIN  RAIN
0  1948-01-01  0.47    51    42  True
1  1948-01-02  0.59    45    36  True
2  1948-01-03  0.42    45    35  True
3  1948-01-04  0.31    45    34  True
4  1948-01-05  0.17    45    32  True

In [4]:
df.describe(include = 'all')

              DATE          PRCP          TMAX          TMIN   RAIN
count        25548  25548.000000  25548.000000  25548.000000  25548
unique       25548           NaN           NaN           NaN      2
top     1986-12-18           NaN           NaN           NaN  False
freq             1           NaN           NaN           NaN  14648
mean           NaN      0.106222     59.543056     44.513387    NaN
std            NaN      0.239031     12.773265      8.893019    NaN
min            NaN      0.000000      4.000000      0.000000    NaN
25%            NaN      0.000000     50.000000     38.000000    NaN
50%            NaN      0.000000     58.000000     45.000000    NaN
75%            NaN      0.100000     69.000000     52.000000    NaN
max            NaN      5.020000    103.000000     71.000000    NaN

In [5]:
def mean_val(df):
    mean = []
    for x in range(len(df)):
        mean.append(0.106)
    return mean
# Apply mean_val
df["mean"] = mean_val(df)
df.head(5)

         DATE  PRCP  TMAX  TMIN  RAIN   mean
0  1948-01-01  0.47    51    42  True  0.106
1  1948-01-02  0.59    45    36  True  0.106
2  1948-01-03  0.42    45    35  True  0.106
3  1948-01-04  0.31    45    34  True  0.106
4  1948-01-05  0.17    45    32  True  0.106

In [6]:
df["PRCP"].value_counts()

0.00    14648
0.01      933
0.02      707
0.03      493
0.04      428
        ...
2.58        1
2.49        1
2.18        1
5.02        1
2.61        1
Name: PRCP, Length: 207, dtype: int64

In [17]:

# Create function to perform our heuristic


def heuristic(df):
    
    preds = []
    
    for x in range(len(df)):
        if (df.iloc[x]['TMIN'] >= 50) | (df.iloc[x]['TMAX'] >= 50):
            preds.append(0)
        elif (df.iloc[x]['TMIN'] >= 40) | (df.iloc[x]['TMAX'] >= 40):
            preds.append(0.02)
        else:
            # Predict false if the above is not true
            preds.append(0.01)
                
    return preds

In [18]:
# Apply Heuristic
df["preds"] = heuristic(df)

In [19]:
# Create a Mean Squared Error Function for HA model
def mse(y_true, y_pred):
    return np.square(np.subtract(y_true,y_pred)).mean()
mse(df['PRCP'], df['preds'])

0.06722678487552526

In [20]:
# Create a Mean Squared Error Function for mean model 
def mse(y_true, y_pred):
    return np.square(np.subtract(y_true,y_pred)).mean()
mse(df['PRCP'], df['mean'])

0.057133851103821826